* {
  font-family: "Poppins";
  font-weight: 700;

  &::selection {
    color: #fff;
    background-color: rgba(255, 99, 27, 0.85);
  }
}

body {
  transition: all 500ms ease-in-out;
}

.container {
  width: 100vw;
  padding: 0 15px;
  margin: 0 auto;

  // outline: solid red;

  @media screen and (min-width: 335px) {
    width: 335px;
  }

  @media screen and (min-width: 768px) {
    width: 717px;
  }

  @media screen and (min-width: 1280px) {
    width: 1264px;
  }
}



.no-scroll{
  overflow: hidden;
}

a {
  transition: all 500ms ease-in-out;
}

p {
  transition: all 500ms ease-in-out;
}

h2 {
  transition: all 500ms ease-in-out;
}

h3 {
  transition: all 500ms ease-in-out;
}