.dark-mode {
  background: #202025;

  transition: all 500ms ease-in-out;
}

.dark-mode body {
  background: #202025;
}

.dark-mode a {
  color: #fcfcfc;
}

.dark-mode p {
  color: #fcfcfc;
}

.dark-mode h2 {
  color: #fcfcfc;
}

.dark-mode h3 {
  color: #fcfcfc;
}

.dark-mode .header {
  &__nav {
    &-list {
      background-color: #202025;
      outline: solid 1px #fcfcfc;
    }

    &-item {
      &:first-child {
        border-bottom: 1px #fcfcfc solid;
      }
    }
  }

  &__form {
    &-input {
      background-color: #202025;

      transition: all 400ms ease-in-out;
    }

    &-btn {
      background-color: #202025;

      transition: all 400ms ease-in-out;
    }
  }

  &__theme {
    &-light {
      color: #fcfcfc;
    }

    &-dark {
      color: #fd5103;
    }

    &-slider {
      outline: solid 2px #ffffff;
    }
  }

  &__modal-open {
    fill: #fcfcfc;
  }
}

.dark-mode .header__nav-item:hover .header__nav-text {
  color: #202025;
}

.dark-mode .hero {
  &__dropdown {
    background-color: #FE7031;

    &--selected {
      color: #FCFCFC;
    }

    &--active {
      background-color: #202025;
    }

    &--clicked {
      background-color: #202025;
    }

    &--content {
      background-color: #202025;
    }
  }

  &__svg {
    fill: #FCFCFC;
  }

  &__dropdown--selected {
    color: #FCFCFC;
  }

  &__dropdown--clicked &__svg {
    fill: #FD5103;
  }

  &__dropdown--active &__svg {
    fill: #FCFCFC;
  }
}

.dark-mode .hero__dropdown--clicked .hero__dropdown--selected {
  color: #FD5103;
}

.dark-mode .hero__dropdown--clicked .hero__svg {
  fill: #FD5103;
}

.dark-mode .cocktails__add-favorite--styles {
  background-color: #202025;
}

.dark-mode .cocktails__icon--white {
  display: none;
}

.dark-mode .cocktails__icon--black {
  display: block;
}

.dark-mode .previous-cocktail {
  background: #202025;

  @media screen and (min-width: 768px) {
    border: 1px solid #4F4E4E;
  }
}

.dark-mode .next-cocktail {
  background: #202025;

  @media screen and (min-width: 768px) {
    border: 1px solid #4F4E4E;
  }
}

.dark-mode .pagination__btn {
  background: #202025;
  border: 1px solid #4F4E4E;

  &--active {
    color: #202025;
    background: #FE7031;

    transition: 200ms;
  }
}

.dark-mode .left-icon--empty {
  fill: #4F4E4E;
}

.dark-mode .right-icon--empty {
  fill: #4F4E4E;
}

.dark-mode .modal {
  background-color: #202025;

  &-mobile {
    background-color: #202025;
  }

  &__title {
    color: #FCFCFC;
  }

  &__subtitle {
    color: #FCFCFC;
  }

  &__text {
    color: #BDBDBD;
  }

  &__span {
    color: #FCFCFC;
  }

  &__instructions {
    color: #FCFCFC;
  }

  &__interesting {
    color: #BDBDBD;
  }

  &__close {
    background-color: #202025;
    fill: #FCFCFC;
  }
}