.dark-mode {
  background: #202025;

  transition: all 500ms ease-in-out;
}

.dark-mode .main {
  background: #202025;

  transition: all 4000ms ease-in-out;
}

.dark-mode a {
    color: #FCFCFC;

    transition: all 500ms ease-in-out;
}

.dark-mode p {
    color: #FCFCFC;

    transition: all 500ms ease-in-out;
}

.dark-mode h2 {
    color: #FCFCFC;

    transition: all 500ms ease-in-out;
}

.dark-mode h3 {
    color: #FCFCFC;

    transition: all 500ms ease-in-out;
}

.dark-mode .header {
    &__form {
        &-input {
            background-color: #202025;

            transition: all 500ms ease-in-out;
        }

        &-btn {
            background-color: #202025;

            transition: all 500ms ease-in-out;
        }
    }

    &__theme {
        &-light {
            color: #FCFCFC;

            transition: all 500ms ease-in-out;
        }

        &-dark {
            color: #FD5103;

            transition: all 500ms ease-in-out;
        }

        &-slider {
            outline: solid 2px #ffffff;
        }
    }
}

.dark-mode .cocktails__add-favorite--styles {
    background-color: #202025;

    transition: all 500ms ease-in-out;
}
