<section class="hero">
  <div class="container hero__container">
    <div class="hero__box">
      <h1 class="hero__title">A party without cocktails is not like a party</h1>
      <p class="hero__text">Search your favorite cocktail by ABC</p>
      <ul class="hero__list">
        <li class="hero__item">
          <button class="hero__button">A</button>
        </li>
        <li class="hero__item">
          <button class="hero__button">B</button>
        </li>
        <li class="hero__item">
          <button class="hero__button">C</button>
        </li>
        <li class="hero__item">
          <button class="hero__button">D</button>
        </li>
        <li class="hero__item">
          <button class="hero__button">E</button>
        </li>
        <li class="hero__item">
          <button class="hero__button">F</button>
        </li>
        <li class="hero__item">
          <button class="hero__button">G</button>
        </li>
        <li class="hero__item">
          <button class="hero__button">H</button>
        </li>
        <li class="hero__item">
          <button class="hero__button">I</button>
        </li>
        <li class="hero__item">
          <button class="hero__button">J</button>
        </li>
        <li class="hero__item">
          <button class="hero__button">K</button>
        </li>
        <li class="hero__item">
          <button class="hero__button">L</button>
        </li>
        <li class="hero__item">
          <button class="hero__button">M</button>
        </li>
        <li class="hero__item">
          <button class="hero__button">N</button>
        </li>
        <li class="hero__item">
          <button class="hero__button">O</button>
        </li>
        <li class="hero__item">
          <button class="hero__button">P</button>
        </li>
        <li class="hero__item">
          <button class="hero__button">Q</button>
        </li>
        <li class="hero__item">
          <button class="hero__button">R</button>
        </li>
        <li class="hero__item">
          <button class="hero__button">S</button>
        </li>
        <li class="hero__item">
          <button class="hero__button">T</button>
        </li>
        <li class="hero__item">
          <button class="hero__button">U</button>
        </li>
        <li class="hero__item">
          <button class="hero__button">V</button>
        </li>
        <li class="hero__item">
          <button class="hero__button">W</button>
        </li>
        <li class="hero__item">
          <button class="hero__button">X</button>
        </li>
        <li class="hero__item">
          <button class="hero__button">Y</button>
        </li>
        <li class="hero__item">
          <button class="hero__button">Z</button>
        </li>
        <li class="hero__item">
          <button class="hero__button">1</button>
        </li>
        <li class="hero__item">
          <button class="hero__button">2</button>
        </li>
        <li class="hero__item">
          <button class="hero__button">3</button>
        </li>
        <li class="hero__item">
          <button class="hero__button">4</button>
        </li>
        <li class="hero__item">
          <button class="hero__button">5</button>
        </li>
        <li class="hero__item">
          <button class="hero__button">6</button>
        </li>
        <li class="hero__item">
          <button class="hero__button">7</button>
        </li>
        <li class="hero__item">
          <button class="hero__button">8</button>
        </li>
        <li class="hero__item">
          <button class="hero__button">9</button>
        </li>
        <li class="hero__item">
          <button class="hero__button">0</button>
        </li>
      </ul>
      <div class="hero__dropdown">
        <span id="selected" class="hero__dropdown--selected">A</span>
        <span class="hero__arrow">
          <svg class="hero__svg">
            <use href="../../assets/icons/dropdown-arrow.svg#mdi-light:chevron-down">
          </svg>
        </span>
        <div class="hero__dropdown--content is-hidden">
          <div class="hero__dropdown--item">
            <button type="button" class="hero__dropdown--button">A</button>
          </div>
          <div class="hero__dropdown--item">
            <button type="button" class="hero__dropdown--button">B</button>
          </div>
          <div class="hero__dropdown--item">
            <button type="button" class="hero__dropdown--button">C</button>
          </div>
          <div class="hero__dropdown--item">
            <button type="button" class="hero__dropdown--button">D</button>
          </div>
          <div class="hero__dropdown--item">
            <button type="button" class="hero__dropdown--button">E</button>
          </div>
          <div class="hero__dropdown--item">
            <button type="button" class="hero__dropdown--button">F</button>
          </div>
          <div class="hero__dropdown--item">
            <button type="button" class="hero__dropdown--button">G</button>
          </div>
          <div class="hero__dropdown--item">
            <button type="button" class="hero__dropdown--button">H</button>
          </div>
          <div class="hero__dropdown--item">
            <button type="button" class="hero__dropdown--button">I</button>
          </div>
          <div class="hero__dropdown--item">
            <button type="button" class="hero__dropdown--button">J</button>
          </div>
          <div class="hero__dropdown--item">
            <button type="button" class="hero__dropdown--button">K</button>
          </div>
          <div class="hero__dropdown--item">
            <button type="button" class="hero__dropdown--button">L</button>
          </div>
          <div class="hero__dropdown--item">
            <button type="button" class="hero__dropdown--button">M</button>
          </div>
          <div class="hero__dropdown--item">
            <button type="button" class="hero__dropdown--button">N</button>
          </div>
          <div class="hero__dropdown--item">
            <button type="button" class="hero__dropdown--button">O</button>
          </div>
          <div class="hero__dropdown--item">
            <button type="button" class="hero__dropdown--button">P</button>
          </div>
          <div class="hero__dropdown--item">
            <button type="button" class="hero__dropdown--button">Q</button>
          </div>
          <div class="hero__dropdown--item">
            <button type="button" class="hero__dropdown--button">R</button>
          </div>
          <div class="hero__dropdown--item">
            <button type="button" class="hero__dropdown--button">S</button>
          </div>
          <div class="hero__dropdown--item">
            <button type="button" class="hero__dropdown--button">T</button>
          </div>
          <div class="hero__dropdown--item">
            <button type="button" class="hero__dropdown--button">U</button>
          </div>
          <div class="hero__dropdown--item">
            <button type="button" class="hero__dropdown--button">V</button>
          </div>
          <div class="hero__dropdown--item">
            <button type="button" class="hero__dropdown--button">W</button>
          </div>
          <div class="hero__dropdown--item">
            <button type="button" class="hero__dropdown--button">X</button>
          </div>
          <div class="hero__dropdown--item">
            <button type="button" class="hero__dropdown--button">Y</button>
          </div>
          <div class="hero__dropdown--item">
            <button type="button" class="hero__dropdown--button">Z</button>
          </div>
          <div class="hero__dropdown--item">
            <button type="button" class="hero__dropdown--button">1</button>
          </div>
          <div class="hero__dropdown--item">
            <button type="button" class="hero__dropdown--button">2</button>
          </div>
          <div class="hero__dropdown--item">
            <button type="button" class="hero__dropdown--button">3</button>
          </div>
          <div class="hero__dropdown--item">
            <button type="button" class="hero__dropdown--button">4</button>
          </div>
          <div class="hero__dropdown--item">
            <button type="button" class="hero__dropdown--button">5</button>
          </div>
          <div class="hero__dropdown--item">
            <button type="button" class="hero__dropdown--button">6</button>
          </div>
          <div class="hero__dropdown--item">
            <button type="button" class="hero__dropdown--button">7</button>
          </div>
          <div class="hero__dropdown--item">
            <button type="button" class="hero__dropdown--button">8</button>
          </div>
          <div class="hero__dropdown--item">
            <button type="button" class="hero__dropdown--button">9</button>
          </div>
          <div class="hero__dropdown--item">
            <button type="button" class="hero__dropdown--button">0</button>
          </div>
        </div>
      </div>
    </div>
    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="../../assets/images/desktop/fresh.webp"
      />
      <source
        media="(min-width: 768px)"
        srcset="../../assets/images/tablet/fresh.webp"
      />
      <source
        media="(max-width: 767px)"
        srcset="../../assets/images/mobile/fresh.webp"
      />
      <img
        src="../../assets/images/mobile/fresh.webp"
        alt="Photo of fresh"
        class="hero__photo"
      />
    </picture>
  </div>
</section>
