<!-- ТЕСТОВА РОЗМІТКА БЕЗ JS
<section class="ingridients">
  <div class="container">
    <h2 class="ingridients__title">Favorite ingredients</h2>
    <ul class="ingridients__list">
      <li class="ingridients__cards">
        <h3 class="ingridients__cards-title">Campari</h3>
        <p class="ingridients__cards-subtitle">LIQUEUR</p>
        <div class="ingridients__button-box">
          <button class="ingridients__button-more">Learn More</button>
          <button class="ingridients__button-remove">
            Remove
            <svg class="ingridients__icon">
              <use
                href="../../assets/icons/symbol-defs.svg#icon-full-heart"
              ></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="ingridients__cards">
        <h3 class="ingridients__cards-title">Blanco tequila</h3>
        <p class="ingridients__cards-subtitle">DISTILLED BEVERAGE</p>
        <div class="ingridients__button-box">
          <button class="ingridients__button-more">Learn More</button>
          <button class="ingridients__button-remove">
            Remove
            <svg class="ingridients__icon">
              <use
                href="../../assets/icons/symbol-defs.svg#icon-full-heart"
              ></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="ingridients__cards">
        <h3 class="ingridients__cards-title">Vermouth</h3>
        <p class="ingridients__cards-subtitle">FORTIFIED WINE</p>
        <div class="ingridients__button-box">
          <button class="ingridients__button-more">Learn More</button>
          <button class="ingridients__button-remove">
            Remove
            <svg class="ingridients__icon">
              <use
                href="../../assets/icons/symbol-defs.svg#icon-full-heart"
              ></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section> -->
<section class="ingridients">
  <div class="container">
    <h2 class="ingridients__title">Favorite ingredients</h2>
    <button class="test">render</button>
    <ul class="ingridients__list"></ul>
  </div>
</section>
