<section class="favorite">
  <div class="container">
    <h2 class="favorite__title">Cocktails</h2>

    <ul class="cocktails">
      <!-- Тестова картка -->

      <li class="cocktails__item">
        <!-- Тестова картинка -->
        <img
          src="../../assets/images/desktop/negroni.jpg"
          alt="#"
          class="cocktails__img"
        />

        <div class="cocktails__padding">
          <h3 class="cocktails__subtitle">Negroni</h3>
          <div class="cocktails__box">
            <button class="cocktails__learn-more">Learn more</button>
            <button class="cocktails__add-favorite">
              Add to
              <svg class="cocktails__icon">
                <use
                  href="../../assets/icons/symbol-defs.svg#icon-desktop-heart"
                ></use>
              </svg>
            </button>
          </div>
        </div>
      </li>

      <li class="cocktails__item">
        <!-- Тестова картинка -->
        <img
        src="../../assets/images/desktop/margarita.jpg"
          alt="#"
          class="cocktails__img"
        />

        <div class="cocktails__padding">
          <h3 class="cocktails__subtitle">Margarita</h3>
          <div class="cocktails__box">
            <button class="cocktails__learn-more">Learn more</button>
            <button class="cocktails__add-favorite">
              Add to
              <svg class="cocktails__icon">
                <use
                  href="../../assets/icons/symbol-defs.svg#icon-desktop-heart"
                ></use>
              </svg>
            </button>
          </div>
        </div>
      </li>

      <li class="cocktails__item">
        <!-- Тестова картинка -->
        <img
        src="../../assets/images/desktop/cosmopolitian.jpg"
          class="cocktails__img"
        />

        <div class="cocktails__padding">
          <h3 class="cocktails__subtitle">Cosmopolitan</h3>
          <div class="cocktails__box">
            <button class="cocktails__learn-more">Learn more</button>
            <button class="cocktails__add-favorite">
              Add to
              <svg class="cocktails__icon">
                <use
                  href="../../assets/icons/symbol-defs.svg#icon-desktop-heart"
                ></use>
              </svg>
            </button>
          </div>
        </div>
      </li>

      <li class="cocktails__item">
        <!-- Тестова картинка -->
        <img
        src="../../assets/images/desktop/bellini.jpg"
          alt="#"
          class="cocktails__img"
        />

        <div class="cocktails__padding">
          <h3 class="cocktails__subtitle">Bellini</h3>
          <div class="cocktails__box">
            <button class="cocktails__learn-more">Learn more</button>
            <button class="cocktails__add-favorite">
              Add to
              <svg class="cocktails__icon">
                <use
                  href="../../assets/icons/symbol-defs.svg#icon-desktop-heart"
                ></use>
              </svg>
            </button>
          </div>
        </div>
      </li>

      <li class="cocktails__item">
        <!-- Тестова картинка -->
        <img
        src="../../assets/images/desktop/pina-colada.jpg"
          alt="#"
          class="cocktails__img"
        />

        <div class="cocktails__padding">
          <h3 class="cocktails__subtitle">Piña Colada</h3>
          <div class="cocktails__box">
            <button class="cocktails__learn-more">Learn more</button>
            <button class="cocktails__add-favorite">
              Add to
              <svg class="cocktails__icon">
                <use
                  href="../../assets/icons/symbol-defs.svg#icon-desktop-heart"
                ></use>
              </svg>
            </button>
          </div>
        </div>
      </li>

      <li class="cocktails__item">
        <!-- Тестова картинка -->
        <img
        src="../../assets/images/desktop/mimosa.jpg"
          alt="#"
          class="cocktails__img"
        />

        <div class="cocktails__padding">
          <h3 class="cocktails__subtitle">Mimosa</h3>
          <div class="cocktails__box">
            <button class="cocktails__learn-more">Learn more</button>
            <button class="cocktails__add-favorite">
              Add to
              <svg class="cocktails__icon">
                <use
                  href="../../assets/icons/symbol-defs.svg#icon-desktop-heart"
                ></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="cocktails__item">
        <!-- Тестова картинка -->
        <img
        src="../../assets/images/desktop/white-lady.jpg"
          alt="#"
          class="cocktails__img"
        />

        <div class="cocktails__padding">
          <h3 class="cocktails__subtitle">White Lady</h3>
          <div class="cocktails__box">
            <button class="cocktails__learn-more">Learn more</button>
            <button class="cocktails__add-favorite">
              Add to
              <svg class="cocktails__icon">
                <use
                  href="../../assets/icons/symbol-defs.svg#icon-desktop-heart"
                ></use>
              </svg>
            </button>
          </div>
        </div>
      </li>

      <li class="cocktails__item">
        <!-- Тестова картинка -->
        <img
        src="../../assets/images/desktop/aviation.jpg"
          alt="#"
          class="cocktails__img"
        />

        <div class="cocktails__padding">
          <h3 class="cocktails__subtitle">Aviation</h3>
          <div class="cocktails__box">
            <button class="cocktails__learn-more">Learn more</button>
            <button class="cocktails__add-favorite">
              Add to
              <svg class="cocktails__icon">
                <use
                  href="../../assets/icons/symbol-defs.svg#icon-desktop-heart"
                ></use>
              </svg>
            </button>
          </div>
        </div>
      </li>

      <li class="cocktails__item">
        <!-- Тестова картинка -->
        <img
        src="../../assets/images/desktop/manhattan.jpg"
          alt="#"
          class="cocktails__img"
        />

        <div class="cocktails__padding">
          <h3 class="cocktails__subtitle">Manhattan</h3>
          <div class="cocktails__box">
            <button class="cocktails__learn-more">Learn more</button>
            <button class="cocktails__add-favorite">
              Add to
              <svg class="cocktails__icon">
                <use
                  href="../../assets/icons/symbol-defs.svg#icon-desktop-heart"
                ></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
