<section class="main-cocktails">
  <div class="container">
    <h1 class="cocktails__title">Cocktails</h1>
    <ul class="cocktails__list">
      <li class="cocktails__item">
        <img
          class="test-img"
          src="../../assets/images/desktop/negroni.jpg"
          alt="negroni"
        />
        <p class="cockatils__text">Negroni</p>
        <button class="cocktails__learn">Learn More</button>
        <button class="cocktails__favorite">Add to ♡</button>
      </li>
      <li class="cocktails__item">
        <img
          class="test-img"
          src="../../assets/images/desktop/margarita.jpg"
          alt="margarita"
        />
        <p class="cockatils__text">Margarita</p>
        <button class="cocktails__learn">Learn More</button>
        <button class="cocktails__favorite">Add to ♡</button>
      </li>
      <li class="cocktails__item">
        <img
          class="test-img"
          src="../../assets/images/desktop/cosmopolitian.jpg"
          alt="cosmopolitan"
        />
        <p class="cockatils__text">Cosmopoliatn</p>
        <button class="cocktails__learn">Learn More</button>
        <button class="cocktails__favorite">Add to ♡</button>
      </li>
      <li class="cocktails__item">
        <img
          class="test-img"
          src="../../assets/images/desktop/bellini.jpg"
          alt="bellinin"
        />
        <p class="cockatils__text">Bellini</p>
        <button class="cocktails__learn">Learn More</button>
        <button class="cocktails__favorite">Add to ♡</button>
      </li>
      <li class="cocktails__item">
        <img
          class="test-img"
          src="../../assets/images/desktop/pina-colada.jpg"
          alt="Piña Colada"
        />
        <p class="cockatils__text">Piña Colada</p>
        <button class="cocktails__learn">Learn More</button>
        <button class="cocktails__favorite">Add to ♡</button>
      </li>
      <li class="cocktails__item">
        <img
          class="test-img"
          src="../../assets/images/desktop/mimosa.jpg"
          alt="mimopsa"
        />
        <p class="cockatils__text">Mimosa</p>
        <button class="cocktails__learn">Learn More</button>
        <button class="cocktails__favorite">Add to ♡</button>
      </li>
      <li class="cocktails__item">
        <img
          class="test-img"
          src="../../assets/images/desktop/white-lady.jpg"
          alt="white lady"
        />
        <p class="cockatils__text">White Lady</p>
        <button class="cocktails__learn">Learn More</button>
        <button class="cocktails__favorite">Add to ♡</button>
      </li>
      <li class="cocktails__item">
        <img
          class="test-img"
          src="../../assets/images/desktop/aviation.jpg"
          alt="aviation"
        />
        <p class="cockatils__text">Aviation</p>
        <button class="cocktails__learn">Learn More</button>
        <button class="cocktails__favorite">Add to ♡</button>
      </li>
      <li class="cocktails__item">
        <img
          class="test-img"
          src="../../assets/images/desktop/manhattan.jpg"
          alt="manhattan"
        />
        <p class="cockatils__text">Manhattan</p>
        <button class="cocktails__learn">Learn More</button>
        <button class="cocktails__favorite">Add to ♡</button>
      </li>
    </ul>
  </div>
</section>
