<header class="header">
  <div class="header__box">
    <a href="../../index.html" class="header__home">
      <svg class="header__logo">
        <use xlink:href="../../assets/icons/logo.svg#icon-logo"></use>
      </svg>
    </a>

    <nav class="header__nav">
      <a href="../../index.html" class="header__link">Home</a>
      <a href="../../favorite.html" class="header__link">Favorite</a>
    </nav>
  </div>

  <form class="header__form">
    <button type="submit" class="header__form-btn">
      <svg class="header__form-icon">
        <use xlink:href="../../assets/icons/symbol-defs.svg#icon-search"></use>
      </svg>
    </button>
    <input
      type="text"
      class="header__form-input"
      required
      placeholder="Search"
    />
  </form>
  <div class="header__theme">
    <p class="header__theme-light">Light</p>
    <label class="header__theme-label">
      <input type="checkbox" class="header__theme-change" />
      <span class="header__theme-slider"></span>
    </label>

    <p class="header__theme-dark">Dark</p>
  </div>
  <button class="header__modal-btn" type="button">
    <svg class="header__modal-open">
      <use href="../../assets/icons/symbol-defs.svg#icon-menu"></use>
    </svg>
  </button>
  
</header>

<div class="header__modal is-hidden" >
  <div class="header__modal-tablet">
    <a href="../../index.html" class="header__home">
      <svg class="header__logo">
        <use href="../../assets/icons/logo.svg#icon-logo"></use>
      </svg>
    </a>
    <div class="header__theme">
      <p class="header__theme-light">Light</p>
      <label class="header__theme-label">
        <input type="checkbox" class="header__theme-change" />
        <span class="header__theme-slider"></span>
      </label>

      <p class="header__theme-dark">Dark</p>
    </div>
    <button class="modal__header-close">
      <svg class="modal__icon">
        <use href="../../assets/icons/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
  </div>
  <div class="header__modal-mobile">
    <div class="header__theme">
      <p class="header__theme-light">Light</p>
      <label class="header__theme-label">
        <input type="checkbox" class="header__theme-change" />
        <span class="header__theme-slider"></span>
      </label>

      <p class="header__theme-dark">Dark</p>
    </div>
    <button class="modal__header-close">
      <svg class="modal__icon">
        <use href="../../assets/icons/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
  </div>
  <form class="header__form">
    <button type="submit" class="header__form-btn">
      <svg class="header__form-icon">
        <use href="../../assets/icons/symbol-defs.svg#icon-search"></use>
      </svg>
    </button>
    <input
      type="text"
      class="header__form-input"
      required
      placeholder="Search"
    />
  </form>
  <nav class="header__nav">
    <a href="../../index.html" class="header__link">Home</a>
    <a href="../../favorite.html" class="header__link"
      >Favorite
      <span class="header__mobile-span">
        <svg class="header__modal-icon">
          <use
            href="../../assets/icons/dropdown-arrow.svg#mdi-light:chevron-down"
          ></use>
        </svg> </span
    ></a>
  </nav>
</div>
