<header class="header">
    <svg class="header__logo">
        <use href=""></use>
    </svg>
  <nav class="header__nav">
    <a href="" class="header__link">Home</a>
    <a href="" class="header__link">Favorite</a>
  </nav>
  <form class="header__form">
    <input type="text" class="header__form-input" required/>
    <button type="submit" class="header__form-btn">
        <svg class="header__icon">
            <use href=""></use>
        </svg>
    </button>
  </form>
  <div class="header__theme">
    <p class="header__theme-light">light</p>
    <input type="checkbox" class="header__theme-change" />
    <p class="header__theme-dark">dark</p>
  </div>
</header>
