<div class="backdrop is-hidden">
  <div class="modal">
    <div class="modal__box">
      <img src="../../assets/images/desktop/fresh.webp" alt="" class="modal__img" />
      <div class="modal__small-box">
        <h3 class="modal__title">Negroni</h3>
        <h4 class="modal__subtitle">INGRIDIENTS</h4>
        <h5 class="modal__descr">Per cocktail</h5>
        <ul class="modal__list">
          <li class="modal__item">
            <p class="modal__text">&#10038; ddd</p>
          </li>
          <li class="modal__item">
            <p class="modal__text">&#10038; ddd</p>
          </li>
          <li class="modal__item">
            <p class="modal__text">&#10038; ddd</p>
          </li>
          <li class="modal__item">
            <p class="modal__text">&#10038; ddd</p>
          </li>
          <li class="modal__item">
            <p class="modal__text">&#10038; ddd</p>
          </li>
        </ul>
      </div>
    </div>
    <h4 class="modal__instructions">INSTRUCTIONS</h4>
    <p class="modal__interesting">Add the gin, Campari and sweet vermouth to a mixing glass filled with ice, and stir until well-chilled. Strain into a rocks glass filled with large ice cubes. Garnish with an orange peel.</p>
    <button class="modal__btn">Add to favorite</button>
    <button class="modal__close">
        <svg class="modal__icon">
            <use href="../../assets/icons/symbol-defs.svg#icon-close"></use>
        </svg>
    </button>
  </div>
</div>
