.backdrop {
  position: fixed;
  display: flex;
  align-items: start;
  justify-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  background-color: #00000049;
  overflow-y: scroll;

  transition: 500ms;

  @media screen and (min-width: 768px) {
    position: fixed;
    align-items: center;
    
    bottom: 0;
  }
}

.modal-mobile{
  position: relative;
  // top: 0;
  background-color: #fff;
  width: 100%;
  height: 956px;
  padding: 40px 20px;
  // overflow-y: scroll;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.modal {
  display: none;
  position: relative;
  background-color: #fff;
  width: 100%;
  height: auto;
  // overflow-y: scroll;

  @media screen and (min-width: 768px) {
    display: block;
    width: 822px;
  }

  &__img {
    width: 280px;
    height: 280px;
    border-radius: 4px;
    margin: 0 auto 22px auto;

    // outline: solid red;

    @media screen and (min-width: 768px) {
      width: 288px;
      height: 320px;
      margin: 0;
    }
  }

  &__box {
    display: flex;
  }

  &__small-box {
    padding: 38px 0 0 32px;
  }

  &__title {
    color: #000917;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 20px;
    line-height: normal;
    width: 400px;

    @media screen and (min-width: 768px) {
      margin-bottom: 28px;
    }
  }

  &__subtitle {
    color: #000917;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 8px;
  }

  &__descr {
    color: #202025;
    font-size: 14px;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 8px;
  }

  &__item {
    margin-bottom: 6px;
  }

  &__item:last-child {
    margin-bottom: 0;
  }

  &__span {
    color: black;
    transition: 500ms;
  }

  &__text {
    color: #5f6775;
    font-size: 16px;
    font-weight: 400;
    line-height: 162.5%;
    transition: 500ms;

    cursor: pointer;
  }

  &__list{
    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
      margin-bottom: 0;

    }
  }

  &__item:hover &__span{
    color: #FD5103;
  }

  &__item:hover &__text{
    color: #FD5103;
  }

  &__instructions {
    color: #000917;
    font-size: 16px;
    font-weight: 600;
    line-height: 162.5%; /* 162.5% */
    margin-bottom: 20px;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      margin-bottom: 24px;

    }
  }
  &__info-box {
    margin: 28px;
  }
  &__interesting {
    color: #5f6775;
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
    max-width: 615px;
    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
      margin-bottom: 30px;
    }
  }
  &__btn {
    // margin-right: auto;
    width: 185px;
    height: 48px;
    background-color: #FD5103;
    color: #fff;

    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%; /* 120% */
    letter-spacing: 0.4px;

    transition: 500ms;

    @media screen and (min-width: 768px) {
      margin-left: auto;
    }

    &--remove {
      width: 248px;
    }
  }

  &__btn:hover, &__btn:focus{
    background-color: #fff;
    color: #FD5103;
    outline: solid #FD5103 1px;
  }

  &__close, &__icon{
    width: 18px;
    height: 18px;
  }

  &__close{
    position: absolute;
    top: 19px;
    right: 19px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #fff;
  }
}
