.is-hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.hero {
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-top: 77px;
    margin-bottom: 120px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 89px;
  }

  &__container {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 59px;

    @media screen and (min-width: 768px) {
      gap: 32px;
    }

    @media screen and (min-width: 1280px) {
      gap: 59px;
    }
  }

  &__box {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    height: 523px;
    gap: 0px;

    @media screen and (min-width: 768px) {
      position: static;
      left: 0;
      transform: translate(0);
      align-items: baseline;
      height: auto;
      gap: 40px;
      padding-top: 23px;
    }

    @media screen and (min-width: 1280px) {
      padding-top: 0;
    }
  }

  &__title {
    width: 300px;
    height: 76px;
    color: #fd5103;
    font-size: 22px;
    font-weight: 600;
    line-height: 42px;
    margin: 0 0 365px 80px;

    @media screen and (min-width: 768px) {
      margin: 0;
      width: 336px;
      height: 84px;
      font-size: 26px;
      line-height: 42px;
    }

    @media screen and (min-width: 1280px) {
      width: 688px;
      height: 160px;
      font-size: 52px;
      line-height: 80px;
    }
  }

  &__text {
    width: 280px;
    color: #000;
    opacity: 0.8;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.28px;
    margin: 0 0 0 60px;

    @media screen and (min-width: 768px) {
      width: 324px;
      color: #202025;
      margin: 0;
    }

    @media screen and (min-width: 1280px) {
      width: 607px;
      font-size: 18px;
      letter-spacing: 0.36px;
    }
  }

  &__list {
    display: none;
    flex-wrap: wrap;
    width: 520px;
    gap: 0;

    user-select: none;

    @media screen and (min-width: 768px) {
      display: flex;
      width: 324px;
    }

    @media screen and (min-width: 1280px) {
      width: 520px;
    }
  }

  &__item:nth-child(27) {
    @media screen and (min-width: 768px) {
      padding-left: 24px;
    }

    @media screen and (min-width: 1280px) {
      padding-left: 40px;
    }
  }

  &__button {
    display: flex;
    width: 40px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    color: #5f6775;
    background-color: transparent;

    transition: all 200ms ease-in-out;

    @media screen and (min-width: 768px) {
      width: 24px;
      height: 25px;
      font-size: 14px;
    }

    @media screen and (min-width: 1280px) {
      width: 40px;
      height: 40px;
      font-size: 24px;
    }

    &:hover,
    &:focus {
      color: #fe7031;
      text-shadow: 0px 4px 4px rgba(95, 103, 117, 0.25);
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #5f6775;
    }

    &--clicked {
      color: #fd5103;
      text-shadow: 0px 4px 4px rgba(95, 103, 117, 0.25);
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #5f6775;
    }
  }

  &__dropdown {
    position: relative;
    display: flex;
    margin: 20px 0 0 50px;
    width: 93px;
    height: 34px;
    padding: 10px;
    align-items: center;
    gap: 14px;
    border-radius: 4px;
    background-color: #FFFFFF;
    border: 1px solid #fd5103;
    z-index: 2;
    cursor: pointer;
    user-select: none;

    transition: all 500ms ease-in-out;

    @media screen and (min-width: 768px) {
      display: none;
    }

    &--selected {
      width: 37px;
      color: #fd5103;
      font-size: 16px;
      line-height: 21.6px;
    }

    &--clicked {
      background-color: #FD5103;
      transition: all 300ms ease-in-out;
    }

    &--active {
      background-color: #FFFFFF; 
      transition: all 300ms ease-in-out;
    }

    &--clicked &--selected {
      width: 36px;
      color: #FCFCFC;
    }

    &--active &--selected {
      width: 37px;
      color: #fd5103;
    }

    &--content {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -34px);
      z-index: 1;
      max-height: 84px;
      overflow-y: auto;
      width: 93px;
      border-radius: 4px;
      border: 1px solid #fd5103;
      background: white;

      transition: all 500ms ease-out;

      scrollbar-width: thin;
      scrollbar-color: #5f6775 transparent;

      &::-webkit-scrollbar {
        width: 1px;
        border-radius: 4px;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: transparent;
      }
    }

    &--clicked &--content {
      opacity: 1;
      transform: translate(-50%, 0);
    }

    &--item {
      display: flex;
      align-items: center;
      padding: 4px 10px;
      width: 66px;
      height: 28px;
      gap: 20px;
    }

    &--button {
      display: flex;
      width: 36px;
      height: 19.5px;
      color: #5f6775;
      font-size: 10px;
      background: transparent;
      justify-content: left;
      align-items: center;

      transition: all 200ms ease-in-out;
    }
  }

  &__arrow {
    width: 24px;
    height: 24px;
  }

  &__svg {
    width: 24px;
    height: 24px;

    fill: #FD5103;
  }

  &__dropdown--clicked &__svg {
    fill: #FFFFFF;
  }

  &__dropdown--active &__svg {
    fill: #FD5103;
  }

  &__photo {
    position: absolute;
    top: 136px;
    left: 50%;
    transform: translate(-50%);
    padding: 0;
    width: 280px;
    height: 245px;

    @media screen and (min-width: 768px) {
      position: static;
      top: 0;
      left: 0;
      transform: translate(0);
      width: 336px;
      height: 294px;
    }

    @media screen and (min-width: 1280px) {
      width: 501px;
      height: 439px;
    }
  }
}
